[user]
	email = kevin@coder.com
	name = Kevin Lint
[url "git@github.com:"]
	insteadOf = https://github.com/
[core]
	editor = vim
	whitespace = fix,-indent-with-non-tab,trailing-space,cr-at-eol
[push]
	default = matching
[fetch]
	prune = true
	pruneTags = true
[merge]
	conflictstyle = diff3
	tool = vimdiff
[mergetool]
	keepBackup = false
	prompt = false
[pull]
	rebase = false