[user]
	email = kevin@coder.com
	name = Kevin Lint
[url "git@github.com:"]
	insteadOf = https://github.com/
[core]
	editor = vim
	whitespace = fix,-indent-with-non-tab,trailing-space,cr-at-eol
[push]
	default = matching
[fetch]
	prune = true
	pruneTags = true
[merge]
	conflictstyle = diff3
	tool = vimdiff
[mergetool]
	keepBackup = false
	prompt = false
[pull]
	rebase = false
[alias]
	hist = log --pretty=format:\"%h %ad | %s%d [%an]\" --graph --date=short
	f = "! git commit --fixup $(git log --pretty='%H' -1 --invert-grep --grep 'fixup! ')"
	fixup = "!f() { git commit --fixup :/$1 ; }; f"
	rom = rebase -i origin/master
	clm = "! git branch -d $(git branch --merged=master | grep -v master)"